.header_indent {
  margin-top: 20px;
}

.header {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -22px;
    width: 100%;
    height: 1px;
    background-color: #b61c1c;
  }
}

.header__logo {
  margin-right: 200px;
}

.header__soc-media {
  display: flex;
  column-gap: 29px;
  margin-right: 93px;

  .header__soc-media--img {
    transform: scale(1);
    transition: 0.3s;

    &:hover {
      transform: scale(1.3);
      transition: 0.3s;
    }
  }
}

.header__address {
  display: flex;
  column-gap: 13px;

  width: 172px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1e1e1e;
  margin-right: 76px;

  .header__address--img {
    width: 20px;
    height: auto;

    transform: scale(1);
    transition: 0.3s;
  }

  &:hover .header__address--img {
    transform: scale(1.3);
    transition: 0.3s;
  }
}

.header__questions {
  display: flex;
  column-gap: 11px;

  width: 197px;
  margin-right: 110px;

  &:hover .header__questions--img {
    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
  }

  @keyframes trambling-animation {
    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }
    10%,
    30% {
      transform: rotate(-10deg);
    }
    20%,
    40% {
      transform: rotate(10deg);
    }
  }

  .header__questions--wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .header__questions--text {
    color: black;
    font-size: 12px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    transition: 0.3s;
  }

  .header__questions--tel {
    color: #1e1e1e;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
  }

  &:hover .header__questions--text {
    transition: 0.3s;
    font-size: 13px;
  }
}

.header__basket {
  display: flex;
  column-gap: 8px;
  position: relative;
  margin-right: 106px;

  .header__basket--img {
    transform: scale(1);
    transition: 0.3s;
  }

  .header__basket--goods {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    color: rgb(255, 255, 255);
    background-color: #cd633d;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    font-size: 9px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .header__basket--text {
    position: relative;
    color: #1e1e1e;
    font-size: 16px;

    &::after {
      position: absolute;
      content: "₽";
      right: -16px;
      top: 0;
      height: 100%;
      color: #1e1e1e;
    }
  }

  &:hover .header__basket--img {
    transform: scale(1.2);
    transition: 0.3s;
  }
}

.header__basket_distance {
  margin-right: 10px;
}

.header__btn {
  display: flex;
  column-gap: 7px;
  align-items: center;
  padding: 14px 15px;
  border: 1px #b61c1c solid;
  background-color: #ffffff;
  transition: 0.4s;

  .header__btn--img {
    transform: scale(1);
    transition: 0.4s;
  }

  svg path {
    fill: #b61c1c;
    transition: 0.4s;
  }

  &:hover svg path {
    fill: white;
    transition: 0.4s;
  }

  &:hover .header__btn--img {
    transform: scale(1.2);
    transition: 0.4s;
    fill: white;
  }

  &:hover {
    background-color: #b61c1c;
    color: white;
    transition: 0.4s;
  }
}

.header-nav {
  display: flex;
  column-gap: 60px;
  align-items: center;

  height: 71px;
  background-color: white;

  justify-content: center;
  margin-top: 20px;
  padding-top: 5px;

  padding-right: 30px;

  .nav-list {
    display: flex;
    column-gap: 65px;

    .nav-list__link {
      color: #1e1e1e;
      font-size: 18px;
      font-weight: 600;
      line-height: 25px;
      font-family: "Manrope", sans-serif;
      position: relative;

      &::after {
        display: block;
        position: absolute;
        content: "";
        background-color: #cd633d;
        height: 1px;
        width: 0%;
        left: 50%;

        -webkit-transition: width 0.3s ease-in-out;
        -moz--transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }

    .nav-list__link-thickness {
      font-weight: 400;
    }
  }
}

.appearance-logo {
  transform: translateX(-1000%);
}

.nav-fixed .appearance-logo {
  transform: translateX(0%);
  transition: 0.3s;
}

.appearance-basket {
  transform: translateY(-1000%);
}

.nav-fixed .appearance-basket {
  transform: translateX(0%);
  transition: 0.3s;
}
