@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.header_indent {
  margin-top: 20px;
}

.header {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 1px;
  background-color: #b61c1c;
}

.header__logo {
  margin-right: 200px;
}

.header__soc-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
  margin-right: 93px;
}
.header__soc-media .header__soc-media--img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__soc-media .header__soc-media--img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
  width: 172px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #1e1e1e;
  margin-right: 76px;
}
.header__address .header__address--img {
  width: 20px;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__address:hover .header__address--img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  width: 197px;
  margin-right: 110px;
}
.header__questions:hover .header__questions--img {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
          animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}
@-webkit-keyframes trambling-animation {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10%, 30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20%, 40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@keyframes trambling-animation {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10%, 30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20%, 40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
.header__questions .header__questions--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.header__questions .header__questions--text {
  color: black;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__questions .header__questions--tel {
  color: #1e1e1e;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
.header__questions:hover .header__questions--text {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 13px;
}

.header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  position: relative;
  margin-right: 106px;
}
.header__basket .header__basket--img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__basket .header__basket--goods {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  color: rgb(255, 255, 255);
  background-color: #cd633d;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}
.header__basket .header__basket--text {
  position: relative;
  color: #1e1e1e;
  font-size: 16px;
}
.header__basket .header__basket--text::after {
  position: absolute;
  content: "₽";
  right: -16px;
  top: 0;
  height: 100%;
  color: #1e1e1e;
}
.header__basket:hover .header__basket--img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__basket_distance {
  margin-right: 10px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 15px;
  border: 1px #b61c1c solid;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__btn .header__btn--img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__btn svg path {
  fill: #b61c1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__btn:hover svg path {
  fill: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__btn:hover .header__btn--img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  fill: white;
}
.header__btn:hover {
  background-color: #b61c1c;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 71px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  padding-top: 5px;
  padding-right: 30px;
}
.header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
}
.header-nav .nav-list .nav-list__link {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  font-family: "Manrope", sans-serif;
  position: relative;
}
.header-nav .nav-list .nav-list__link::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #cd633d;
  height: 1px;
  width: 0%;
  left: 50%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header-nav .nav-list .nav-list__link:hover:after, .header-nav .nav-list .nav-list__link:focus:after {
  width: 100%;
}
.header-nav .nav-list .nav-list__link-thickness {
  font-weight: 400;
}

.appearance-logo {
  -webkit-transform: translateX(-1000%);
          transform: translateX(-1000%);
}

.nav-fixed .appearance-logo {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.appearance-basket {
  -webkit-transform: translateY(-1000%);
          transform: translateY(-1000%);
}

.nav-fixed .appearance-basket {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;
}
.slider .slider__item {
  position: relative;
}
.slider .slider__item img {
  width: 100vw;
}
.slider .slider__item .slider__item-blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.slider .slider__item .slider__wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 54px;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
}
.slider .slider__item .slider__wrapper .slider__wrapper--title {
  color: white;
  font-size: 45px;
  font-weight: 800;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 155%;
  min-width: 934px;
  height: 260px;
}
.slider .slider__item .slider__wrapper .slider__wrapper--link {
  background-color: #b61c1c;
  color: white;
  font-size: 21px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  line-height: 29px;
  padding: 17px 55px;
  max-width: 297px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider .slider__item .slider__wrapper .slider__wrapper--link:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #b61c1c;
  -webkit-box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
          box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
}
.slider .slider__item .slider__wrapper .slider__wrapper--link:active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #b61c1c;
  -webkit-box-shadow: inset 4px 4px 7px rgba(35, 35, 35, 0.25);
          box-shadow: inset 4px 4px 7px rgba(35, 35, 35, 0.25);
}
.slider .slider__item .slider__wrapper .slider__wrapper--link-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background: #a8a8a8;
  color: #434343;
}
.slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 1px solid white;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../../img/index/main/prev-btn.svg) no-repeat rgba(255, 255, 255, 0.3);
  background-position: center;
  margin-left: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider .slick-arrow.slick-prev:hover {
  background-color: #cd633d;
  border: 1px solid #cd633d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider .slick-arrow.slick-prev:active {
  background-color: #cd633d;
  border: 1px solid #ffffff;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../../img/index/main/next-btn.svg) no-repeat rgba(255, 255, 255, 0.3);
  background-position: center;
  margin-right: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider .slick-arrow.slick-next:hover {
  background-color: #cd633d;
  border: 1px solid #cd633d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider .slick-arrow.slick-next:active {
  background-color: #cd633d;
  border: 1px solid #ffffff;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-55px);
          transform: translateY(-55px);
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cfcfcf;
}
.slider .slick-dots .slick-active button {
  background-color: #cd633d;
}

.collection_background {
  background-image: url(../../img/index/main/background-main.webp);
  background-repeat: no-repeat;
  background-size: 1782px 723px;
  margin-bottom: 80px;
}

.collection {
  height: 723px;
}
.collection .collection__title {
  color: #b61c1c;
  font-size: 33px;
  font-weight: 800;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  line-height: 155%;
  margin-top: 80px;
  margin-bottom: 31px;
  display: inline-block;
}
.collection .collection__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.collection .collection__cards .collection__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 705px;
  height: 216px;
  background-color: white;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: 0.2s;
  transition: 0.2s;
  bottom: 0;
}
.collection .collection__cards .collection__card:hover {
  position: relative;
  bottom: 5px;
  -webkit-box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
          box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.collection .collection__cards .collection__card .collection__card_top {
  padding-top: 35px;
  padding-left: 30px;
}
.collection .collection__cards .collection__card .card__title {
  color: black;
  font-size: 21px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  width: 232px;
  margin-bottom: 46px;
}
.collection .collection__cards .collection__card .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  background-color: #b61c1c;
  color: white;
  width: 126px;
  height: 42px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  font-family: "Manrope", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.collection .collection__cards .collection__card .card__btn:hover {
  -webkit-box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
          box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.collection .collection__cards .collection__card .card__btn:active {
  -webkit-box-shadow: inset 4px 4px 7px rgba(35, 35, 35, 0.25);
          box-shadow: inset 4px 4px 7px rgba(35, 35, 35, 0.25);
}
.collection .collection__cards .collection__card img {
  -webkit-clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.collection .collection__cards .card_animation-1 {
  opacity: 0;
}
.collection .collection__cards .card_animation-2 {
  opacity: 0;
}
.collection .collection__cards .card_animation-3 {
  opacity: 0;
}
.collection .collection__cards .card_animation-4 {
  opacity: 0;
}
.collection .collection__cards .animation-1 {
  -webkit-animation: ani 0.5s forwards;
          animation: ani 0.5s forwards;
}
@-webkit-keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.collection .collection__cards .animation-2 {
  -webkit-animation: ani 1s forwards;
          animation: ani 1s forwards;
  opacity: 0;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.collection .collection__cards .animation-3 {
  -webkit-animation: ani 1.5s forwards;
          animation: ani 1.5s forwards;
  opacity: 0;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.collection .collection__cards .animation-4 {
  -webkit-animation: ani 2s forwards;
          animation: ani 2s forwards;
  opacity: 0;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.story .story__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.story .story__description .description__title {
  color: #b61c1c;
  font-size: 33px;
  font-weight: 800;
  line-height: 155%;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  max-width: 478px;
}
.story .story__description .description__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  font-family: "Manrope", sans-serif;
  color: black;
  max-width: 612px;
}
.story .story__description .description__text span {
  font-size: 18px;
  font-weight: 600;
}
.story .story__description .description__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  max-width: 270px;
  color: #cd633d;
  font-size: 21px;
  font-weight: 600;
}
.story .story__description .description__link::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #cd633d;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: 0;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.story .story__description .description__link:hover:after, .story .story__description .description__link:focus:after {
  width: 100%;
}

.story__video {
  position: relative;
  width: 704px;
  height: auto;
}
.story__video iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.advantages {
  padding-top: 80px;
}
.advantages .advantages__title {
  color: #b61c1c;
  font-size: 33px;
  font-weight: 800;
  line-height: 155%;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  padding-bottom: 40px;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 152px;
     -moz-column-gap: 152px;
          column-gap: 152px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__wrapper .advantages__wrapper--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
.advantages__wrapper .advantages__wrapper--column .advantages__content {
  background-color: #f6f6f6;
  max-width: 336px;
  height: 195px;
  padding-top: 71px;
  padding-left: 25px;
  padding-bottom: 25px;
  position: relative;
}
.advantages__wrapper .advantages__wrapper--column .advantages__content .advantages__content--img {
  position: absolute;
  left: 27px;
  top: -20px;
  border-radius: 5px;
  -webkit-box-shadow: 9px -9px 0px 0px #f0cfc3;
          box-shadow: 9px -9px 0px 0px #f0cfc3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.advantages__wrapper .advantages__wrapper--column .advantages__content .advantages__content--title {
  color: #000000;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 15px;
  max-width: 218px;
}
.advantages__wrapper .advantages__wrapper--column .advantages__content .advantages__content--text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
.advantages__wrapper .advantages__wrapper--column .advantages__content:hover .advantages__content--img {
  left: 36px;
  top: -29px;
  -webkit-box-shadow: 0px 0px 0px 0px #f0cfc3;
          box-shadow: 0px 0px 0px 0px #f0cfc3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.advantages__background {
  background-color: white;
  width: 336px;
  height: 22px;
}

.advantages__wrapper--img {
  background-color: #f6f6f6;
  width: 460px;
  height: 407px;
  padding: -12px;
  border: 1px solid #cd633d;
}

.body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1437px;
  margin: 0 auto;
}

.nav-fixed .header {
  margin-bottom: 85px;
}

.nav-fixed #nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #b61c1c;
  margin-top: 0;
}