.collection_background {
  background-image: url(../../img/index/main/background-main.webp);
  background-repeat: no-repeat;
  background-size: 92% 100%;

  margin-bottom: 80px;
}

.collection {
  height: 723px;

  .collection__title {
    color: #b61c1c;
    font-size: 33px;
    font-weight: 800;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    line-height: 155%;

    margin-top: 80px;
    margin-bottom: 31px;
    display: inline-block;
  }

  .collection__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    .collection__card {
      display: flex;
      justify-content: space-between;

      position: relative;
      width: 705px;
      height: 216px;
      background-color: white;

      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      transition: 0.2s;
      bottom: 0;

      &:hover {
        position: relative;
        bottom: 5px;
        box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
        transition: 0.2s;
      }

      .collection__card_top {
        padding-top: 35px;
        padding-left: 30px;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          top: -5px;
          right: -68px;
          width: 1px;
          height: 105%;
          background-color: #cd633d;
          transform: rotate(18deg);
        }
      }

      .card__title {
        color: black;
        font-size: 21px;
        font-weight: 600;
        font-family: "Manrope", sans-serif;

        width: 232px;
        margin-bottom: 46px;
      }

      .card__btn {
        display: flex;
        column-gap: 10px;
        background-color: #b61c1c;
        color: white;
        width: 126px;
        height: 42px;
        padding: 10px 20px;

        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
        font-family: "Manrope", sans-serif;

        transition: 0.3s;

        &:hover {
          box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
          transition: 0.3s;
        }

        &:active {
          box-shadow: inset 4px 4px 7px rgba(35, 35, 35, 0.25);
        }
      }

      & img {
        clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
      }

      .img-text {
        position: absolute;
        right: 0;
        color: white;
        padding: 7px 40px 10px 31px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3.5px);
        clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 0% 100%);

        opacity: 0;
        transition: 0.3s;
      }

      &:hover .img-text {
        opacity: 1;
        transition: 0.3s;
      }
    }

    .card_animation-1 {
      opacity: 0;
    }

    .card_animation-2 {
      opacity: 0;
    }

    .card_animation-3 {
      opacity: 0;
    }

    .card_animation-4 {
      opacity: 0;
    }

    .animation-1 {
      animation: ani 0.5s forwards;

      @keyframes ani {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .animation-2 {
      animation: ani 1s forwards;
      opacity: 0;

      @keyframes ani {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .animation-3 {
      animation: ani 1.5s forwards;
      opacity: 0;

      @keyframes ani {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .animation-4 {
      animation: ani 2s forwards;
      opacity: 0;

      @keyframes ani {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
