.footer {
  background-color: #1e1e1e;
  padding-top: 60px;
}

.footer-top {
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 60px;

  .footer-top__info {
    .header__logo {
      margin-bottom: 41px;
      display: block;

      margin-right: 326px;
    }

    .info-text_box {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      .info-text {
        color: rgba(255, 255, 255, 0.7);
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  .footer-top__menu {
    margin-right: 144px;
  }

  .footer-top__catalog {
    margin-right: 205px;

    & ul {
      margin-bottom: 63px;
    }
  }

  .footer-top__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header__btn {
      margin-bottom: 20px;
      background-color: #ffffff00;
      color: white;
      border: 1px solid white;
      justify-content: center;
      width: 100%;

      & svg path {
        fill: #ffffff;
      }
    }

    .tel-footer {
      font-size: 24px;
      font-weight: 600;
      color: white;
      font-family: "Manrope", sans-serif;
      position: relative;
      margin-bottom: 12px;

      &::after {
        display: block;
        position: absolute;
        content: "";
        background-color: #ffffff;
        height: 1px;
        width: 0%;
        left: 50%;
        bottom: 0;

        -webkit-transition: width 0.3s ease-in-out;
        -moz--transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
  }

  .title-footer {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    margin-bottom: 17px;
  }

  .text-footer {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    margin-bottom: 12px;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: "";
      background-color: #ffffff;
      height: 1px;
      width: 0%;
      left: 50%;
      bottom: 0;

      -webkit-transition: width 0.3s ease-in-out;
      -moz--transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &:hover:after,
    &:focus:after {
      width: 100%;
    }
  }

  .text-footer_email {
    display: inline-block;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  .bottom-box {
    display: flex;
    column-gap: 8px;

    & p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 19px;
      font-weight: 400;
      font-family: "Manrope", sans-serif;
    }
  }

  & .confidentiality {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
  }

  .footer-bottom__kink {
    transform: scale(1);
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
}
