.slick-track {
  display: flex;
}

.slider {
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;

  .slider__item {
    position: relative;

    & img {
      width: 100vw;
    }

    .slider__item-blackout {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .slider__wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 54px;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;

      .slider__wrapper--title {
        color: white;
        font-size: 45px;
        font-weight: 800;
        font-family: "Manrope", sans-serif;
        text-transform: uppercase;
        text-align: center;
        line-height: 155%;
        min-width: 934px;
        height: 260px;
      }

      .slider__wrapper--link {
        background-color: #b61c1c;
        color: white;

        font-size: 21px;
        font-weight: 600;
        font-family: "Manrope", sans-serif;
        line-height: 29px;

        padding: 17px 55px;
        max-width: 297px;
        transition: 0.2s;

        &:hover {
          transition: 0.2s;
          background-color: #b61c1c;
          box-shadow: 4px 4px 7px rgba(35, 35, 35, 0.25);
        }

        &:active {
          transition: 0.2s;
          background-color: #b61c1c;
          box-shadow: inset 4px 4px 7px rgba(35, 35, 35, 0.25);
        }
      }

      .slider__wrapper--link-disabled {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        background: #a8a8a8;
        color: #434343;
      }
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 1px solid white;

    &.slick-prev {
      left: 0;
      background: url(../../img/index/main/prev-btn.svg) no-repeat rgba(255, 255, 255, 0.3);
      background-position: center;
      margin-left: 40px;
      transition: 0.2s;

      &:hover {
        background-color: #cd633d;
        border: 1px solid #cd633d;
        transition: 0.2s;
      }

      &:active {
        background-color: #cd633d;
        border: 1px solid #ffffff;
      }
    }

    &.slick-next {
      right: 0;
      background: url(../../img/index/main/next-btn.svg) no-repeat rgba(255, 255, 255, 0.3);
      background-position: center;
      margin-right: 40px;
      transition: 0.2s;

      &:hover {
        background-color: #cd633d;
        border: 1px solid #cd633d;
        transition: 0.2s;
      }

      &:active {
        background-color: #cd633d;
        border: 1px solid #ffffff;
      }
    }
  }

  .slick-dots {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    transform: translateY(-55px);

    & button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #cfcfcf;
    }

    & .slick-active button {
      background-color: #cd633d;
    }
  }
}
